.articles-list {
    .articles-list-item {
        background-color: white;
    
        a {
            color: black;
        }
        
        a:hover {
            color: gray;
        }

        .item-footer {
            color: dimgray;

            .item-footer-todo {
                color: orange;
            }

            .item-footer-finished {
                color: limegreen;
            }
        }
    }
}
