/*
 * 亮色主题
 */

.light body {
    background-color: whitesmoke;
    color: rgb(50, 50, 50);

    #goto-top {
        background-color: rgb(120, 120, 120);
        color: white;
        opacity: 50%;
    }

    /* 顶部栏 */
    @import 'light-topbar.less';

    /* 基本样式 */
    @import 'light-main.less';

    footer {
        a {
            color: #9999ff;
        }

        a:visited {
            color: tomato;
        }

        a:hover {
            color: #66ccff;
        }
    }

    /* 分页器 */
    @import 'light-pager.less';
}
