*::-webkit-scrollbar-track {
    background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
    background: lightgray;
}

*::-webkit-scrollbar-thumb:hover {
    background: gray;
}

*::-webkit-scrollbar-corner {
    background: dimgray;
}

a {
    color: var(--huzerovo-link);
}

a:visited {
    color: var(--huzerovo-link-visted);
}

a:hover {
    color: var(--huzerovo-link-hover);
}

body {
    background-color: whitesmoke;
    color: rgb(50, 50, 50);

    #goto-top {
        background-color: rgb(120, 120, 120);
        color: white;
        opacity: 50%;
    }


    footer.site-footer {
        color: var(--huzerovo-trivial-text);
    }

}

mark {
    background-color: var(--huzerovo-mark-color);
}
