/* 分页器 */
.pager {
    .page-list {
        span,a {
            color: gray;
        }

        span:hover,
        a:hover {
            color: black;
        }

        .current {
            color: black;
        }
    }
}
