<%# 展示个人介绍 %>
<%- partial("../topbar", {active: "about"}) %>
<%- partial("../side-menu", {active: "about"}) %>
<main>
    <div class="center-container">
        <h1 class = "page-title"><%= _p("about") %></h1>
        <%- page.content %>
    </div>
</main>
