<%# 这个页面以标签云的方式展示了所有的标签 %>
<%- partial("../topbar", {active: "tag"}) %>
<%- partial("../side-menu", {active: "tag"}) %>
<main>
    <div class="center-container">
        <h1 class = "page-title"><%= _p("tagcloud") %></h1>
        <div class="page-tagcloud">
            <%- tagcloud({min_font: 16, max_font: 32, class: "tagcloud", level: 9}) %>
        </div>
    </div>
</main>
