/* 文章列表 */
.articles-list {
    display: flex;
    flex-wrap: wrap;

    .articles-list-item {
        display: block;
        width: 80%;
        margin: 8px auto;
        border-radius: 16px;
        overflow: hidden;

        * {
            transition: 0ms;
        }

        a {
            margin: 32px;
            display: block;
            text-decoration: none;
            overflow: hidden;

        }
        
        .item-title {
            font-size: 24px;
            margin-top: 0;
        }
        
        .item-content {
            margin: 0;
        }

        .item-gallery {
            img {
                width: 100%;
            }
        }
    }
}
