<% var i; var p; %>
<% var posts = page.posts.sort("data", "desc") %>
<% for (i = 0; i < posts.length; i++) { %>
    <% p = posts.data[i] %>

    <article class="article-list-item">
        <a href="<%- url_for(p.path) %>">

            <h2><%= p.title || "Untitled" %></h2>
            <p>
                <%- truncate(strip_html(p.content), {length: 80, omission: "..." }) %>
            </p>
        </a>
    </article>

<% } %>
