<p style="text-align: center; font-weight: bold;"><%= _p("categories") %></p>
<% if (enable_count === undefined) {var enable_count = false}; %>
<% if (categories === undefined) {var categories = site.categories}; %>
<%- list_categories(categories, {show_count: enable_count, class: "site-categories"}) %>
