<%# 文章列表 %>

<%# 描述：这个文件负责展示页面所拥有的所有文章，如：具有同样标签的文章 %>
<%# 这个文件不接收参数%>

<% let posts = page.posts.sort("data", "desc") %>
<% for (let i = 0; i < posts.length; i++) { %>
    <% let p = posts.data[i] %>
    <article class="article-list-item">
        <a href="<%- url_for(p.path) %>">
            <h3><%= p.title || "Untitled" %></h3>
            <p>
                <%- truncate(strip_html(p.content), {length: 80, omission: "..." }) %>
            </p>
        </a>
    </article>
<% } %>
