<%- partial("topbar", {active: "about"}) %>

<main>
    <div class="left-sidebar"></div>
    <div class="main-content">
        <h1 class = "page-title"><%= _p("about") %></h1>
        <%- page.content %>
    </div>
    <div class="right-sidebar"></div>
</main>