<%- partial("topbar", {active: "about"}) %>
<%- partial("partial/side-menu", {active: "about"}) %>
<main>
    <article class="main-container">
        <h1 class = "page-title"><%= _p("about") %></h1>
        <%- page.content %>
    </article>
</main>