<%- partial("topbar", {active: "tag"}) %>
<%- partial("partial/side-menu", {active: "tag"}) %>
<main>
    <div class="main-container">
        <h1 class = "page-title"><%= _p("tagcloud") %></h1>
        <div class="page-tagcloud">
            <%- tagcloud({min_font: 16, max_font: 32, class: "tagcloud", level: 9}) %>
        </div>
    </div>
</main>