<%# 分页器 %>
<div class="pager">
    <div class="page-list">
        <%- paginator({
            prev_text: '<i class="bi bi-arrow-left-short"></i>', 
            next_text: '<i class="bi bi-arrow-right-short"></i>',
            escape: false,
            force_prev_next: true
        }) %>
    </div>
</div>
