<%# 侧边菜单，在移动端显示 %>
<aside id="side-nav" class="side-menu-hidden">
    <ul class="side-menu">
    <% var i; var active; %>
    <% for (var i in theme.menu) { %>
        <% if (i === active) { %> 
        <li class="side-menu-item">
            <%- link_to(theme.menu[i], _p(i), {class: "active"}) %>
        </li>
        <% } else { %>
        <li class="side-menu-item">
            <%- link_to(theme.menu[i], _p(i)) %>
        </li>
        <% } %>
    <% } %>
    </ul>

    <% if (theme.toc && page.toc) { %>
        <p class="sidebar-list-title"><%= _p("toc") %></p>
        <%- toc(page.content, {list_number: false}) %>
    <% } %>
</aside>
