<p class="info-title"><%= _p("tags") %></p>
<% if (enable_count === undefined) {var enable_count = false}; %>
<% if (tags === undefined) {var tags = site.tags}; %>
<% if (myclass === undefined) {var myclass = "site-tags"}; %>
<%- list_tags(tags, {show_count: enable_count, class: myclass}) %>
