<p style="text-align: center; font-weight: bold;"><%= _p("tags") %></p>
<% if (enable_count === undefined) {var enable_count = false}; %>
<% if (tags === undefined) {var tags = site.tags}; %>
<%- list_tags(tags, {show_count: enable_count, class: "site-tags"}) %>
