<%# 顶栏 %>

<%# 描述：网站顶栏 %>
<%# 传入参数：active %>
<%# 类型：string %>
<%# 意义：当前页面名称，表示高亮正在活跃的页面 %>

<nav id="topbar">
    <div class="topbar-container">
        <%# 左侧的页面导航 %>
        <ul class="topbar-menu">
        <% for (let i in theme.menu) { %>
            <li class="topbar-menu-item">
            <%# 在具体的一篇文章里不会传入active，表明无需高亮，需要判断一下 %>
            <% if (typeof active !== 'undefined' && i === active) { %> 
                <%- link_to(theme.menu[i], _p(i), {class: "active"}) %>
            <% } else { %>
                <%- link_to(theme.menu[i], _p(i)) %>
            <% } %>
            </li>
        <% } %>
        </ul>

        <%# 右侧的一些图标按钮 %>
        <div class="topbar-icon-buttons">
            <button id="btn-side-menu" class="icon-button btn-side-menu">
                <%= _p("menu") %>
            </button>
            <button id="btn-switch-theme" class="icon-button btn-switch-theme">
                <%# src在页面加载完成后通过js设置 %>
                <img id="icon-theme" alt="theme" src="" />
            </button>
            <a id="btn-search" class="icon-button btn-search" href="/search">
                <i class="bi bi-search"></i>
            </a>
        </div>
    </div>
</nav>
