/*
 * 网站整体样式框架，不包括颜色设置
 */
html {
    font-family: sans;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    transition: 300ms;

    @import 'topbar.less';
    
    @import 'main.less';

    #goto-top {
        transition: 300ms;
        position: fixed;
        right: 8%;
        bottom: 8%;
        padding: 8px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
    
    /* 网站页尾 */
    footer {
        text-align: center;
        transition: 300ms;

        * {
            transition: 300ms;
        }

        a {
            transition: 0ms;
        }
    }

    @import 'pager.less';
}
