/*
 * 网站整体样式框架，不包括颜色设置
 */
html {
    font-family: sans;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
html::-webkit-scrollbar-track {
    border-radius: 8px;
}
html::-webkit-scrollbar-thumb{
    border-radius: 8px;
}

body {
    margin: 0;
    transition: 300ms;

    @import 'topbar.less';
    @import 'main.less';

    #goto-top {
        transition: 300ms;
        position: fixed;
        right: 8%;
        bottom: 8%;
        padding: 8px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
    
    footer.site-footer {
        text-align: center;
        font-size: smaller;
    }

    @import 'pager.less';
}
