main.container {
    width: 60%;
    margin: 0 auto;

    .page-title {
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    @import 'page/about.less';
    @import 'page/archive.less';
    @import 'page/articles-list.less';
    @import 'page/categories.less';
    @import 'page/post.less';
    @import 'page/search.less';
    @import 'page/tagcloud.less';
}

@media screen and (max-width: 960px) {
    main.container {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    main.container {
        width: 100%;
    }
}
