main.container {
    width: 60%;
    margin: 0 auto;

    .page-title {
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    @import 'main/about.less';
    @import 'main/archive.less';
    @import 'main/articles-list.less';
    @import 'main/categories.less';
    @import 'main/post.less';
    @import 'main/search.less';
    @import 'main/tagcloud.less';
}

@media screen and (max-width: 960px) {
    main.container {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    main.container {
        width: 100%;
    }
}
