/* 文章 */

/* 目录 */
#article-toc {
    a {
        color: gray;
    }

    a:hover {
        color: white;
    }
}

article.article-container {
    a {
        color: orchid;
    }

    a:visited {
        color: #9999ff;
    }

    a:hover {
        color: orange;
    }

    blockquote {
        border-left-color: rgb(150, 150, 150);
        background-color: rgb(40, 40, 40);
        color: gray;
    }

    hr {
        color: gray;
    }

    table {
        thead {
            background-color: rgb(80, 80, 80);
            color: lightgray;
        }

        tbody {
            background-color: dimgray;
            color: lightgray;
        }
    }

    img {
        filter: brightness(0.8);
    }

    code:not([class*="language"]) {
        background-color: rgb(50, 50, 50);
        color: sandybrown;
    }

    pre {
        code:not([class~="hljs"]) {
            background-color: black;
        }
    }
}

/* 文章标签 */
.article-meta-info {
    color: gray;

    a {
        color: orchid;
    }

    a:visited {
        color: #9999ff;
    }

    a:hover {
        color: orange;
    }
}

/* 日期信息 */
.article-date-info {
    color: gray;
}

/* 评论 */
.article-comment {
    background-color: rgb(50, 50, 50);
}
