/* 文章列表 */
.articles-list {
    .articles-list-item {
        background-color: rgb(40, 40, 40);

        a {
            color: lightgray;
        }

        a:hover {
            color: white;
        }

        img {
            filter: brightness(0.8);
        }

        .item-footer {
            color: gray;

            .item-footer-todo {
                color: sienna;
            }

            .item-footer-finished {
                color: seagreen;
            }
        }
    }
}
