html.dark::-webkit-scrollbar-track {
    background: black;
}
html.dark::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
}
html.dark::-webkit-scrollbar-thumb:hover {
    background: gray;
}
html.dark::-webkit-scrollbar-corner {
    background: rgb(30, 30, 30);
}

.dark body {
    background-color: black;
    color: rgb(200, 200, 200);

    #goto-top {
        background-color: rgb(80, 80, 80);
        color: white;
        opacity: 50%;
    }

    @import 'dark-topbar';
    @import 'dark-main';

    footer {
        a {
            color: #9999ff;
        }

        a:visited {
            color: gold;
        }

        a:hover {
            color: #66ccff;
        }
    }

    @import 'dark-pager';
}
