/* 文章列表 */
.articles-list {
    .articles-list-item {
        background-color: rgb(40, 40, 40);

        a {
            color: lightgray;
        }

        a:hover {
            color: white;
        }

        img {
            filter: brightness(0.8);
        }
    }
}
