<div class="item-gallery">
  <script>
    document.write("<img data-fancybox loading='lazy' src='"
        + "<%= covers.toString() %>".split(',').at(Math.floor(Math.random() * <%= covers.length %>))
        + "'/>");
  </script>
</div>
