<%# 关于 %>

<%# 描述：展示个人介绍 %>
<%# 这个文件不接收参数 %>

<div class="article-container page-about">
    <%- page.content %>
    <div class="article-comment">
        <%- partial('partial/gitalk') %>
    </div>
</div>
