<%# 关于 %>

<%# 描述：展示个人介绍 %>
<%# 这个文件不接收参数 %>

<%- partial("../partial/topbar", {active: "about"}) %>
<%- partial("../partial/side-menu", {active: "about"}) %>
<main>
    <div class="center-container">
        <h1 class = "page-title"><%= _p("about") %></h1>
        <%- page.content %>
    </div>
</main>
