<%# 关于 %>

<%# 描述：展示个人介绍 %>
<%# 这个文件不接收参数 %>

<main>
    <div class="container">
        <h1 class = "page-title">
            <%= _p("about") %>
        </h1>
        <%- page.content %>
    </div>
</main>
