<%# 搜索 %>

<%# 描述：用于搜索文章 %>
<%# 这个文件不接收参数 %>

<div class="search-bar">
    <input id="search-input" placeholder="<%- _p("input_keywords") %>"/>
</div>
<div id="search-result">
    <article class="articles-list"></article>
</div>
