<%# 标签云 %>

<%# 描述：这个页面以标签云的方式展示了所有的标签 %>
<%# 这个文件不接收参数 %>

<%- partial("../partial/topbar", {active: "tag"}) %>
<%- partial("../partial/side-menu", {active: "tag"}) %>
<main>
    <div class="center-container">
        <h1 class = "page-title"><%= _p("tagcloud") %></h1>
        <div class="page-tagcloud">
            <%- tagcloud({min_font: 16, max_font: 32, class: "tagcloud", level: 9}) %>
        </div>
    </div>
</main>
